*{
font-family: 'poppins',sans-serif;
}
.main-page2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:100px 1rem 80px;
    gap: 5rem;
}
.main-box1{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_box1 a{
    display: inline-block;
    margin-top: 1rem;
}
.main_box1 h1{
    font-size: min(10vh,2.5rem);
}
strong{
    color: black;
    font-weight:800 ;
    font-size: min(10vh,2.5rem);
}
.imgcontent{
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-img{
    margin-top: 5rem;
    display: grid;
    gap: .5rem;
    position: relative;
    top: -5rem;
    padding-block: 2rem;
    border-bottom: 1px solid var(--color-secondary);
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}
.contactform{
    background-color:var(--color-secondary);
    padding: 1rem 2rem;
    width: 100%;
    display: grid;
    place-items: center;
    color: white;
    border-radius: 20px;
    height: max-content;
    max-width: 330px;
}
.contactform h1{
    font-weight: 300;
    font-size: 1rem;
    text-align: center;

}
.contactform h2{
    font-size: 1.25rem;
    color: var(--color-main);
    text-align: center;

}
textarea{
    height:100px;
}
.contactform input,
.contactform textarea{
    padding: .5rem;
    margin-top: 1rem;
    width: 100%;
    background-color:transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.input-box-checkbox p{
    display: inline;
    font-size: .8rem;

}
.input-box-checkbox input{
    width: auto;
    appearance: none;
    border-radius: 0%;
}
.input-box-checkbox input:checked{
    background-color: var(--color-main);
    background-image: url(Assets/case_coché.png);
    background-size: contain
}
.input-box small{
    visibility: hidden;
}
.contactform .btn{
    border: none;
    cursor: pointer;
    background-color: var(--color-main);
}
.contactform .btn:hover{
    border: 1px solid var(--color-light);
}
@media screen and (max-width:1000px){
.main-page2{
    flex-direction: column;
    align-items: center;
    padding-inline:3rem;
}
.contactform{
    background-color: var(--color-main);
    max-width: 100%;
}
.contactform h2{
    color: black;
}
}