
.main-page2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding:100px 10% 2rem;
    gap:5rem;
}
.main-page2 img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.main-box1{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_box1 h1{
    font-size: min(10vh,2.5rem);
}
.price2{
    font-weight: 1000;
    font-size: calc(1rem + 4dvw);
}
ol>li::marker{
    font-size: 24px;
    font-weight: bold;
}
.imgcontent{
    overflow: hidden;
} 

.input-box{
    width: 100%;
}
.container-img{
    width: 100%;
    object-fit: cover;
    margin-top: 5rem;
    display: grid;
    gap: .5rem;
    position: relative;
    top: -5rem;
    padding-block: 2rem;
    border-bottom: 1px solid var(--color--secondary);
    grid-template-columns: repeat(auto-fit,minmax(90px,1fr));
}
.contactform{
    background-color:var(--color--secondary);
    padding: 2rem;
    border-radius: 20px;
    max-height: max-content;
    color: var(--color-light);
}
form{
    display: grid;
    width: 100%;
    place-items: center;
}
.contactform h1{
    margin-bottom: .5rem;
    text-align: center;
    font-weight: 300;
    line-height: 1;
    font-size: 1.1rem;
}
.contactform h2{
    line-height: 1;
    color: #E8C133;
    font-weight: 900;
    font-size:calc(1rem + .5dvw);
    text-align: center;
}
input,textarea{
    color: var(--color-light);
}
.input-box input,.input-box textarea{
    padding: .5rem;
    margin-top: 1rem;
    height: 35px;
    width: 100%;
    background-color:transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.contactform textarea{
    height:100px;
    resize: none;
}

.input-box-checkbox input{
    width: auto;
    height: auto;
    appearance: none;
    border-radius: 0%;
    transition: .5s ease;
}
.input-box-checkbox input:checked{
    background-color: #E8C133;
    background-image: url(../Assets/case_coché.png);
    background-size: cover;
}
.input-box small{
    visibility: hidden;
}

.contactform .btn:hover{
    border: 1px solid var(--color-light);
}
@media screen and (max-width:1000px){
.main-page2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline:2.5rem;
}
.contactform{
    max-width:480px;
}

} 